<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <h2 style="text-align: center;">Iniciar sesión</h2>

    <!-- Campo de Correo -->
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="credenciales.correo" name="correo" placeholder="ejemplo@dominio.com" required></ion-input>
    </ion-item>

    <!-- Campo de Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="credenciales.contrasena" name="contrasena" placeholder="********" required></ion-input>
    </ion-item>

    <!-- Enlace de 'Olvidaste tu contraseña?' -->
    <div style="text-align: center; margin-top: 10px;">
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>

    <!-- Botón de Iniciar Sesión -->
    <ion-button expand="block" type="submit" class="login-button">
      Iniciar sesión <!-- El texto debe ir aquí dentro -->
    </ion-button>
  </form>
</ion-content>
