
ion-content.login-content {
  --background: #f4f7fa;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;   
  padding: 0;

  --padding-start: 0;
  --padding-end: 0;
}


.login-container {
  width: 108%;
  height: 108%;
  max-width: none;

  padding: 60px 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #ffffff;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 0;

  margin-top: -60px;   
}


form {
  width: 100%;
  max-width: 700px;
}


h2 {
  text-align: center;
  font-size: 3rem;
  color: #007bff;
  margin-bottom: 40px;
  font-weight: 700;
}


ion-item {
  margin-bottom: 24px;
  border-radius: 12px;
  --background: #fafafa;
  border: 1px solid #ddd;
}

ion-input {
  font-size: 1.2rem;
  --color: #333;
}


.login-button {
  height: 60px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  --background: #007bff;
  --border-radius: 10px;
}
