
ion-item {
  --padding-start: 10px;
  --inner-padding-end: 10px;
  --min-height: 60px;
  margin-bottom: 14px;
  border-radius: 12px;
  --background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


ion-label {
  font-size: 1.1rem; 
  color: #2a2a2a;
}


ion-input, ion-select {
  font-size: 1.15rem;  
  color: #111;
}


ion-note {
  display: block;
  margin-top: -8px;
  margin-left: 6px;

  
  font-size: 1.05rem;

  
  color: #d80000 !important;  
  font-weight: 600;           
}


.validation-inside {
  font-size: 0.95rem;
  color: #d80000;
  font-weight: 600;
  margin-top: 4px;
}


ion-button {
  height: 55px;
  font-size: 1.2rem;   
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 12px;
}

ion-button[disabled] {
  opacity: 0.5;
}


h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}
