:root {
  /* Tamaño global de fuente para TODA la app */
  --app-font-size: 16px;

  /* Colores de Ionic (por defecto) */
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-dark: #222428;
  --ion-color-medium: #92949c;
  --ion-color-light: #f4f5f8;
}

/* Aplicar el tamaño global a TODO Ionic */
html {
  font-size: var(--app-font-size);
}
