
h2 {
  font-weight: 700;
  color: #1a1a1a;
  font-size: 26px;
  text-align: center;
  margin-bottom: 25px;
}


ion-item {
  --background: #ffffff;
  border-radius: 10px;
  border: 2px solid #c8c8c8;
  margin-bottom: 16px;
  padding: 4px;
}

ion-item.invalid {
  border-color: #ff4d4d !important;
}


ion-label {
  font-size: 18px !important;
  font-weight: 600;
  color: #1a1a1a;
}


ion-input, ion-textarea {
  font-size: 18px !important;
  padding: 14px !important;
  --color: #000;
}


ion-item.ion-focused {
  border-color: #005fcc !important;
  box-shadow: 0 0 0 2px rgba(0, 95, 204, 0.2);
}


.error-text {
  color: #d90429;
  font-size: 16px;
  margin-left: 2px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: 600;
}


#map {
  height: 260px;
  width: 100%;
  border-radius: 14px;
  margin: 20px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
}


ion-button[color="medium"] {
  --background: #e9e9e9;
  --color: #000;
  font-size: 18px;
  font-weight: 600;
  height: 55px;
  border-radius: 10px;
}


ion-button[color="success"] {
  --background: #007b00;
  --background-focused: #005f00;
  font-size: 20px;
  height: 55px;
  border-radius: 10px;
  font-weight: 700;
}
