h2 {
  font-weight: 600;
  color: #2f2f2f;
}

ion-item {
  margin-bottom: 10px;
  border-radius: 8px;
  --background: #fff;
}

ion-textarea, ion-input {
  font-size: 15px;
}

#map {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

ion-button[color="medium"] {
  --background: #f4f4f4;
  --color: #000;
  font-weight: 500;
}


#mapa {
  height: 250px;
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
