name: Create Tag

on:
  push:
    branches: ["main"]

jobs:
  tag:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create Tag
        id: create_tag
        run: |
          TAG="v$(date +'%Y%m%d%H%M%S')"
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git tag "$TAG"
          git push origin "$TAG"
          echo "tag_name=$TAG" >> "$GITHUB_OUTPUT"

      - name: Show created tag
        run: |
          echo "Tag creado: ${{ steps.create_tag.outputs.tag_name }}"
