<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- 👇 Título -->
  <h2 style="text-align: center; margin-bottom: 20px;">Registro Empresa</h2>

  <ion-item>
    <ion-label position="floating">Nombre_Empresa</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo_Empresa</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripcion</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Horarios</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sitio_web</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-button expand="block" style="margin-top: 20px;">
    Registrarse
  </ion-button>
</ion-content>
