


.error-text,
.error-msg {
  color: #D32F2F; 
  font-size: 15px; 
  font-weight: 600;
  margin: 6px 0 14px 10px;
}


ion-item.invalid {
  --highlight-color-focused: #D32F2F;
  --highlight-color-invalid: #D32F2F;
  --border-color: #D32F2F !important;

  border-left: 5px solid #D32F2F; 
  background-color: #ffe6e6; 
  transition: border-left 0.25s ease-in-out;
}


ion-item.valid {
  --highlight-color-focused: #2E7D32; 
  --border-color: #2E7D32 !important;

  border-left: 5px solid #2E7D32;
  background-color: #e7f6e7;
  transition: border-left 0.25s ease-in-out;
}


ion-item {
  margin-bottom: 12px;
  font-size: 17px; 
}


form {
  margin-bottom: 40px;
}


@media (prefers-color-scheme: dark) {
  .error-text,
  .error-msg {
    color: #ff6b6b; 
  }

  ion-item.invalid {
    border-left: 5px solid #ff6b6b;
    background-color: #4c0000;
  }

  ion-item.valid {
    border-left: 5px solid #6fdc6f;
    background-color: #0f2b0f;
  }
}




:host {
  font-size: 18px;
}


ion-input::part(native) {
  font-size: 18px;
}


ion-label {
  font-size: 16px !important;
  font-weight: 600;
}


ion-button {
  font-size: 18px;
  height: 55px;
  --border-radius: 10px;
  --background: #1a73e8; 
  --background-activated: #0f57b3;
  --background-hover: #1664cc;
  --color: white;
}
